
@font-face {
     font-family: "Gilroy-Regular";
     src: url(../fonts/Gilroy/Gilroy-Regular.ttf) format("truetype");
}

@font-face {
     font-family: "Gilroy-SemiBold";
     src: url(..fonts/Gilroy/Gilroy-SemiBold.ttf) format("truetype");
}
:root {
     --primary-bg: "linear-gradient(225.49deg, #FF9900 -10.05%, #F06445 116.14%);"
}
.primary_bg {
     background: var(--primary-bg);
}