@font-face {
     font-family: "Poppins";
     src: url(../fonts/Poppins/Poppins-Regular.ttf) format("truetype");
}


@font-face {
     font-family: "Gilroy-Regular";
     src: url(../fonts/Gilroy/Gilroy-Regular.ttf) format("truetype");
}

@font-face {
     font-family: "Gilroy-SemiBold";
     src: url(..fonts/Gilroy/Gilroy-SemiBold.ttf) format("truetype");
}

:root {
     --primary-bg: "linear-gradient(225.49deg, #FF9900 -10.05%, #F06445 116.14%)"
}

.primary_bg {
     background: linear-gradient(225.49deg, #FF9900 -10.05%, #F06445 116.14%);
}


.button {
     position: relative;
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     border: none;
     cursor: pointer;
     outline: none;
     overflow: hidden;
}

.button span {
     position: relative;
     pointer-events: none;
}
.target {
     transition: 0.3s all;
}
.button::before {
     --size: 0;
     content: '';
     position: absolute;
     left: var(--x);
     top: var(--y);
     width: var(--size);
     height: var(--size);
     background: radial-gradient(circle closest-side, #FF9900, transparent);
     -webkit-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
     transition: width .2s ease, height .2s ease;
}

.button:hover::before {
     --size: 400px;
}

.bg-blur {
     background: linear-gradient(119.3deg, rgba(48, 38, 67, 0.6) 3.18%, rgba(21, 15, 17, 0.6) 25.55%, rgba(52, 56, 63, 0.6) 62.89%, rgba(39, 56, 72, 0.6) 106.42%);
     /* background: linear-gradient(112deg, rgb(29 15 56 / 60%) 3.18%, rgb(51 24 33 / 60%) 25.55%, rgb(40 47 59 / 60%) 62.89%, rgb(46 77 106 / 60%) 106.42%); */
     backdrop-filter: blur(210px);
}
.noice-bg {
     background-image: url(../images/texture/noise-bg.png);
}